{% extends 'template.html' %}
{% block content %}
{% if success %}
<div class="ui message green">
	<i class="close icon"></i>
	<p>{{ message }}</p>
</div>
{% elif message %}
<div class="ui message red">
	<i class="close icon"></i>
	<p>{{ message }}</p>
</div>
{% endif %}
<div class="ui grid">
	<div class="eight wide column">
		<form method="POST" class="ui form segment">
			<div class="field">
				<label class="label">Name</label>
				<div class="control"><input type="text" class="input" name="name"></div>
			</div>
			<div class="field">
				<label for="" class="label">SKU</label>
				<div class="control"><input type="text" class="input" name="sku"></div>
			</div>
			<div class="field">
				<label for="" class="label">Description</label>
				<div class="control"><textarea name="description" id="" class="textarea"></textarea></div>
			</div>
			<div class="field">
				<div class="ui checkbox">
					<input type="checkbox" name="is_active" class="hidden">
					<label for="" class="label">Active</label>
				</div>
			</div>
			<button type="submit" class="ui button primary">Add Product</button>
		</form>
	</div>
</div>
<script>
$(document).ready(function() {
	$('.ui.checkbox').checkbox();
});
$('.message .close').on('click', function() {
	$(this).closest('.message').transition('fade');
});
</script>
{% endblock %}
