{% extends 'template.html' %}
{% block content %}
<style>
#upload-progress-field {
	margin-bottom: 30px;
}
</style>
<div class="ui grid">
	<div class="six wide column">
		<h3>Upload a file</h3>
		<form class="ui form segment" enctype="multipart/form-data" id="upload_form">
			<div class="field">
				<div class="ui action input">
					<input type="text" readonly>
					<input type="file" name="upload_file" id="upload_file" style="display: none!important;" />
					<div class="ui icon button">
						<i class="cloud upload alternate icon"></i>
					</div>
				</div>
			</div>
			<div class="field" id="upload-progress-field">
				<div class="ui progress" id="upload-progress">
					<div class="bar">
						<div class="progress"></div>
					</div>
					<div class="label"></div>
				</div>
			</div>
			<div class="field">
				<button type="submit" class="ui button primary">Upload File</button>
			</div>
		</form>
	</div>
</div>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.271.1.min.js"></script>
<script>
$(document).ready(function() {
	$('#upload-progress-field').hide();
	$('#upload-progress').progress({
		text: {
			active: 'Uploading File...',
			success: 'File Uploaded and Processing',
			error: 'File Failed to Upload. Try again'
		}
	});

	$('input:text, .ui.button', '.ui.action.input').on('click', function (e) {
		$('input:file', $(e.target).parents()).click();
	});

	$('input:file', '.ui.action.input').on('change', function (e) {
		var name = e.target.files[0].name;
		$('input:text', $(e.target).parent()).val(name);
	});
});
$(document).on('submit', '#upload_form', function(e){
	e.preventDefault();

	$('#upload-progress-field').show('fast');
	$('#upload-progress').progress('reset');
	$('#upload-progress').progress('set active');

	var lengthStreamReceived = false;
	var bucketName = 'fulfil-project';
	var bucketRegion = 'ap-southeast-1';
	var IdentityPoolId = 'ap-southeast-1:185f7ba1-160e-4f19-aebd-6b9fbbae0587';

	AWS.config.update({
		region: bucketRegion,
		credentials: new AWS.CognitoIdentityCredentials({
			IdentityPoolId: IdentityPoolId
		})
	});

	var s3 = new AWS.S3({
		apiVersion: '2006-03-01',
		params: {Bucket: bucketName}
	});

	var file = document.getElementById('upload_file').files[0];

	if (file) {
		var filename = new Date().getTime() + ".csv";
		var params = {Key: filename , ContentType: file.type, Body: file};
		s3.upload(params).on('httpUploadProgress', function(e) {
			$('#upload-progress').progress('set total', e.total);
			$('#upload-progress').progress('set progress', e.loaded);
		}).send(function(error, data) {
			if(error) {
				$('#upload-progress').progress('is error');
			} else {
				$.ajax({
					type:'POST',
					url:'/import/file',
					data: data,
					success: function(response) {
						$('#upload-progress').progress('is success');
					},
					error: function(XMLHttpRequest, status, error) {
						$('#upload-progress').progress('is error');
					}
				});
			}
		});
	}
});
</script>
{% endblock %}
