{% extends 'template.html' %}
{% block content %}
<style>
.ui.form {
	margin-bottom: 10px;
}
.ui.right.floated.pagination.menu {
	margin-bottom: 10px;
}
</style>
<form class="ui form">
	<div class="field six wide">
		<div class="ui icon input">
			<input type="text" placeholder="Search..." name="search" value="{{ search }}">
			<i class="search icon"></i>
		</div>
	</div>
</form>
<div class="ui top attached tabular menu">
	<a class="active item" data-tab="first">Active Products: {{ total_active_products }}</a>
	<a class="item" data-tab="second">Archived Products: {{ total_inactive_products }}</a>
</div>
<div class="ui bottom attached active tab segment" data-tab="first">
	{% if active_products %}
	Showing {{ active_products|length }} products
	<div class="ui right floated pagination menu">
		{% if active_prev_url %}
		<a class="icon item" href="{{ active_prev_url }}">
			<i class="left chevron icon"></i>
		</a>
		<a class="item" href="{{ active_prev_url }}">{{ curr_active_page - 1 }}</a>
		{% endif %}
		<a class="active item">{{ curr_active_page }}</a>
		{% if active_next_url %}
		<a class="item" href="{{ active_next_url }}">{{ curr_active_page + 1 }}</a>
		<a class="icon item" href="{{ active_next_url }}">
			<i class="right chevron icon"></i>
		</a>
		{% endif %}
	</div>
	<table class="ui celled striped table">
		<thead>
			<tr>
				<th>ID</th>
				<th>SKU</th>
				<th>Name</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			{% for product in active_products %}
			<tr>
				<td>{{ product.id }}</td>
				<td>{{ product.sku }}</td>
				<td>{{ product.name }}</td>
				<td>{{ product.description }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	No products to show
	{% endif %}
</div>
<div class="ui bottom attached tab segment" data-tab="second">
	{% if inactive_products %}
	Showing {{ inactive_products|length }} products
	<div class="ui right floated pagination menu">
		{% if inactive_prev_url %}
		<a class="icon item" href="{{ inactive_prev_url }}">
			<i class="left chevron icon"></i>
		</a>
		<a class="item" href="{{ inactive_prev_url }}">{{ curr_inactive_page - 1 }}</a>
		{% endif %}
		<a class="active item">{{ curr_inactive_page }}</a>
		{% if inactive_next_url %}
		<a class="item" href="{{ inactive_next_url }}">{{ curr_inactive_page + 1 }}</a>
		<a class="icon item" href="{{ inactive_next_url }}">
			<i class="right chevron icon"></i>
		</a>
		{% endif %}
	</div>
	<table class="ui celled striped table">
		<thead>
			<tr>
				<th>ID</th>
				<th>SKU</th>
				<th>Name</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			{% for product in inactive_products %}
			<tr>
				<td>{{ product.id }}</td>
				<td>{{ product.sku }}</td>
				<td>{{ product.name }}</td>
				<td>{{ product.description }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	No products to show
	{% endif %}
</div>
<script>
$(document).ready(function() {
	$('.menu .item').tab();
});
</script>
{% endblock %}
