<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<title>{{ title }}</title>
</head>
<body>
	<style>
		.ui.top.menu {
			margin-top: 0;
		}
		.main.container {
			margin-top: 40px;
		}
	</style>
	<nav class="ui top attached menu">
		<div class="ui container">
			<a href="/" class="item {{ 'active' if active_page == 'list' }}">Product List</a>
			<a href="/import" class="item {{ 'active' if active_page == 'import' }}">Import Products</a>
			<a href="/add" class="item {{ 'active' if active_page == 'add' }}">Add Product</a>
		</div>
	</nav>
	<div class="ui main container">
		{% block content %}
		{% endblock %}
	</div>

	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</body>
</html>
